[2012-06-10 20:07] ReanGD opened #1 "Альтернативный перевод"
Добавить возможность указывать в словаре несколько вариантов перевода слова и засчитывать правильным любое из них.

[2012-06-10 20:07] ReanGD opened #2 "Файл настроек"
Вынести настройки в отдельный файл

[2012-06-10 20:09] ReanGD opened #3 "Текущая директория"
При запуске выставлять текущую директорию ту - где лежит main.py

[2012-06-10 20:09] ReanGD opened #4 "Текущая статистика"
Отображать текущую статистику урока

[2012-06-10 20:10] ReanGD opened #5 "Глобальная статистика"
Сохранять статистику правильных\неправильных ответов и т.п. между сеансами

[2012-06-10 20:11] ReanGD opened #6 "Выбор слов для урока"
Реализовать выбор слов для обучения на основании статистики пользователя

[2012-06-10 20:13] ReanGD opened #7 "Проверка запущенности другого экземпляра скрипта"
Если этот скрипт уже запущен - то не запускать новые копии

[2012-06-10 20:13] ReanGD opened #8 "Импорт словарей"
Реализовать импорт словарей из других форматов

[2012-06-10 21:26] #4 closed, assigned to ReanGD

[2012-06-10 23:14] #2 closed, assigned to ReanGD

[2012-06-11 10:42] #1 closed, assigned to ReanGD

[2012-06-11 10:55] #3 closed, assigned to ReanGD

[2012-07-11 21:33] #7 closed, assigned to ReanGD

[2012-07-12 15:30] ReanGD opened #9 "Работа без внешнего запускающего механизма"
Сейчас периодичность запуска скрипта задается внешней программой (cron), хочется избавиться от нее, возложив функции на сам скрипт

[2012-07-12 15:38] #9 closed, assigned to ReanGD

[2012-07-12 15:38] ReanGD opened #10 "Пополнение словаря"

[2012-07-12 15:39] ReanGD opened #11 "Предупреждение при закрытии"
Сейчас если нажать на "закрыть" скрипт без предупреждений выгрузиться из памяти, нужно добавить диалог на этот случай.

[2012-07-12 15:56] ReanGD opened #12 "Один урок - одно направление перевода"
Сейчас направление перевода выбирается случайно, практика показала, что переключение раскладки на каждое слово - неудобно, поэтому требуется сделать одно направление перевода за урок

[2012-07-12 20:21] #11 closed, assigned to ReanGD

[2012-07-12 20:22] ReanGD opened #13 "Автозагрузка"
Добавить возможность помещать скрипт в автозагрузку

[2012-07-12 20:27] ReanGD opened #14 "Уточнение перевода"
Добавить в синтаксис словаря возможность задания уточнения для перевода.
Например: team и command переводятся одинаково на русский, нужна возможность добавлять уточняющие слова в перевод например так:
"team", "команда (людей)"
"command", "команда (в языке программирования)"
при этом вводить уточнение при ответе не требуется.

[2012-07-12 23:43] #12 closed, assigned to ReanGD

[2012-07-13 16:19] ReanGD opened #15 "Дубликаты английских слов в словаре"
Требуется при загрузке, объединять переводы дубликатов английских слов

[2012-07-13 21:03] #15 closed, assigned to ReanGD

[2012-07-14 01:07] #5 closed, assigned to ReanGD

[2012-07-15 16:55] #6 closed, assigned to ReanGD

[2012-07-15 16:55] ReanGD opened #16 "Тесты, тесты, тесты"

[2012-07-15 17:43] ReanGD opened #17 "Дефолтные значения для незаданных параметров конфига"

[2012-07-15 17:50] #17 closed, assigned to ReanGD

[2012-07-15 23:55] #14 closed, assigned to ReanGD

[2012-07-16 00:00] ReanGD opened #18 "Отбрасывание незначащей концовки слова при переводе"
Н-р слов angry можно перевести на русский как "сердитый", "сердит" и т.п. Нужно иметь возможность отметить эту незначащую часть, например так "сердит[ый]", что бы в интерфейсе оно явно отображалось как "сердитый", но в качестве перевода допускалось любое слово начинающееся с "сердит": сердитая, сердитый, сердит и т.п.

[2012-07-16 01:13] #18 closed, assigned to ReanGD

[2012-07-16 09:00] ReanGD opened #19 "Визуализация статистики"
Отображение таблицы по словам - какие изучены, изучаются, не начинали, % успешных ответов, кол-во успешных и нет ответов

[2012-08-13 16:12] ReanGD opened #20 "Рефакторинг"
Понятно что процесс бесконечный и итеративный, нужна задача, к которой можно привязывать коммиты.

[2012-08-15 16:29] #19 closed, assigned to ReanGD

[2012-08-15 18:30] ReanGD opened #21 "Неверное обновление статистики при принудительном закрытии"
При закрытии программы до окончания урока, последнее упражнение засчитывается как не пройденное, должно - не засчитываться.

[2012-08-15 20:34] #21 closed, assigned to ReanGD

[2012-08-15 20:36] ReanGD opened #22 "Повторение неправильно переведенного слова"
Если слово было переведено не правильно, нужно показывать его пользователю до тех пор, пока оно не будет введено правильно, причем очки за повторные ответы не должны начисляться

[2012-08-15 20:37] ReanGD opened #23 "Исключить повторение слов в упражнении"
Сейчас слова с высоким рейтингом довольно часто попадают в упражнение более 1 раза, нужно изменить это поведение и исключить дублирование слов.

[2012-08-20 20:28] #22 closed, assigned to ReanGD

[2012-08-20 20:29] ReanGD opened #24 "Запретить ввод символов после того, как ответ дан"

[2012-09-02 18:54] #23 closed, assigned to ReanGD

[2012-09-02 22:15] ReanGD opened #25 "Поправить форму со статистикой"
На форме не хватает нумерации слов и привязки клавиш (PageUp, PageDown, End, Home, Up, Down) для навигации по таблице

[2012-09-02 22:22] #25 closed, assigned to ReanGD

[2012-09-09 13:08] ReanGD opened #26 "Сохранение статистики в форматированном json"

[2012-09-09 15:07] #26 closed, assigned to ReanGD

[2012-09-09 15:08] ReanGD opened #27 "Суммарная статистика"

[2012-09-09 18:32] ReanGD commented on #10
Добавление новых слов в словарь и редактирование старых

[2012-09-09 21:13] ReanGD opened #28 "Не принимать в качестве результата пустое слово"

[2012-09-09 21:29] #24 closed, assigned to ReanGD

[2012-09-09 21:45] #28 closed, assigned to ReanGD

[2012-09-14 18:31] ReanGD opened #29 "Скрипт для проверки словаря"
Нужен скрипт, который будет проверять дублируемость слов и возможно другие параметры словаря.

[2012-09-16 20:29] #27 closed, assigned to ReanGD

[2012-09-16 20:31] ReanGD opened #30 "Оформление таблиц"
Нужно поправить оформление таблиц в статистике - выравнивание для цифр сделать по правому краю. И возможно добавить подсветку для четных линий таблиц.

[2012-09-23 13:18] #30 closed, assigned to ReanGD

[2012-09-23 20:42] ReanGD opened #31 "В таблице со статистикой не пропечатывается сетка для последней строки"

[2012-09-27 18:28] #31 closed, assigned to ReanGD

[2012-09-30 10:54] yunoshev opened #32 "[OS X] Не запускается"
[code]

[2012-09-30 11:31] ReanGD commented on #32
Попробуйте "python ./main.py" или указать полный путь к main.py

[2012-09-30 12:00] ReanGD commented on #32
И если не сложно, отпишитесь пожалуйста помогло ли?

[2012-09-30 12:06] yunoshev commented on #32
Помогло. Но в целом логично же сделать, чтобы и так и так работало? Неужели в питоне это так сложно?

[2012-09-30 12:16] yunoshev opened #33 "[OS X] Окно не в фокусе после запуска"
После выполнение в терминале python ./main.py  - окно появляется, под терминалом

P.S. Напишите - имеет смысл постить замечание по работе под osx - а то их много.

[2012-09-30 12:30] ReanGD commented on #33
Да, пишите конечно, если не трудно. Я постараюсь в ближайшее время отыскать дистрибутив OS X, установить на виртуалку и поправить баги. Заодно прокачаю скилл работы с не Windows операционными системами )

[2012-09-30 12:35] ReanGD commented on #32
Это какая-то особенность интерпретатора под Linux и Mac OS. Попробую найти способ поправить.

[2012-09-30 18:41] artemsh opened #34 "Воспроизведение слов"
Очень хотелось бы видеть в программе возможность воспроизведения слов, то есть программа ищет звуковой файл с именем слова в папке и если находит то проигрывает его

[2012-09-30 18:52] ReanGD commented on #34
А какой тип файлов предполагается (mp3, wav или еще что)? Если можно, то еще ссылочку бы на набор таких файлов.

[2012-09-30 20:42] Menelion commented on #34
Я бы предложил ogg. Ибо опенсорс и вообще)

[2012-10-01 18:32] artemsh commented on #34
Ну лучше наверно mp3 меньше места занимать будет, но можно найти и wav, например вот раздача http://rutracker.org/forum/viewtopic.php?t=3971305 тут есть и wav и mp3. Можно и ogg, надо будет только перекодировать.

[2012-10-01 19:50] ReanGD commented on #34
Хорошо, разберусь с отображением под OS X и попробую кроссплатформенное проигрывание сделать.
Еще есть мысль пытаться недостающие файлы вытягивать из интернета автоматически, Bing API вроде позволяет официально это делать.
Если у кого-то есть желание помочь - я не против )

[2012-10-02 17:30] ReanGD opened #36 "Буквы е и ё должны считаться идентичными при проверке правильности перевода"

[2012-10-02 17:37] ReanGD opened #37 "Размеры окна со статистикой"
Нужно разрешить ресайзить окно по горизонтали и увеличить первоначальный размер по ширине.

[2012-10-02 17:40] ReanGD opened #38 "Добавить сортировку по полям в статистике"

[2012-10-02 20:09] ReanGD commented on #32
Теперь запускается простым "python main.py" из текущей директории. Спасибо пользователю [elmit](https://github.com/elmit)

[2012-10-02 22:46] ReanGD commented on #37
Поправил, спасибо [alukardd](http://habrahabr.ru/users/alukardd) за идею и реализацию

[2012-10-02 22:46] #37 closed, assigned to ReanGD

[2012-10-02 22:47] ReanGD opened #39 "Скрытие транскрипции"
Добавить возможность в настройках запретить показ транскрипции

[2012-10-02 22:48] ReanGD opened #40 "Ошибка при загрузке словаря с дубликатами"
При загрузке словаря с дубликатами английских слов - переводы объединяются. Нужно вычищать из таких объединенных переводов - дубликаты.

[2012-10-02 22:50] ReanGD opened #41 "Просмотр статистики не из главного окна"
Нужно какой-нибудь отдельный скрипт, который бы умел показывать только окно со статистикой.

[2012-10-02 22:53] ReanGD opened #42 "Сохранение текущего состояния программы"
Нужно реализовать сохранение размеров окон в файл и соответственно восстанавливать размеры окон после запуска. Причем сохранять нужно с привязкой к идентификатору машины пользователя, т.к. размеры дисплея разные.

[2012-10-03 11:30] elmit commented on #39
Я вообще предлагаю сделать транскрипцию необязательной. Опциональное поле в dict.json. Если в list-е два элемента, то считать что это слово и перевод, а если три, то слово-транскрипция-перевод

[2012-10-03 19:48] ReanGD commented on #39
Реализовал, спасибо [alukardd](http://habrahabr.ru/users/alukardd) за идею и первоначальный вариант реализации.

И за что же вы так транскрипцию не любите? Ок создам сейчас отдельную задачку по загрузке словаря без колонки с транскрипцией.

[2012-10-03 19:48] #39 closed, assigned to ReanGD

[2012-10-03 19:51] ReanGD opened #43 "Формат словаря без транскрипции"
[elmit](https://github.com/elmit) предложил доработать формат словаря и сделать колонку с транскрипцией опциональной. (При двух колонках считать что указаны: слово-перевод, при трех: слово-транскрипция-перевод)

[2012-10-04 00:25] maxirk opened #44 "Хочу версию под Android!"
Хочу версию под Android!

[2012-10-04 01:02] maxirk opened #45 "Не могу запустить под Windows 7 x64"
Установил Python 2.6 скопировал программу

Пишу в выполнить "C:\Program Files\Python26\pythonw.exe C:\Users\bogdanov\Desktop\Magic Briefcase\Distr\ReanGD\main.py"
ничего не происходит

Так же пробовал Выполнить > CMD и эти пути - тоже ничего. Напишите как запусить под Windows.

[2012-10-04 01:03] maxirk commented on #45
Аа в Windows достаточно просто запустить main.py! :)

[2012-10-04 01:03] #45 closed, assigned to nobody

[2012-10-04 04:12] maxirk opened #46 "Должна сворачиваться в трей."
Когда запускаю, еще дополониетльно открывается пустое коммандное окно "main". Надо что бы хотя бы оно закрывалось или не открывалось.

Еще нужно что бы программа сворачивалась и висела в трее.

[2012-10-04 06:33] ghost commented on #36
Согласен.
Вывело мне yellow - я написал жёлтый. Оказалось не верно:)

[2012-10-06 18:49] ReanGD commented on #36
Поправил, теперь буквы считаются идентичными

[2012-10-06 18:49] #36 closed, assigned to ReanGD

[2012-10-06 18:51] ReanGD commented on #44
У меня нет никакого опыта разработки под мобильные платформы. Так что боюсь что версии не будет.
Если есть желание портировать - я всеми руками за.

[2012-10-06 22:33] ReanGD commented on #40
Поправил

[2012-10-06 22:33] #40 closed, assigned to ReanGD

[2012-10-06 22:37] ReanGD opened #47 "Иногда зависает при выборе слова в маленьких словарях"

[2012-10-07 09:35] ghost commented on #10
Словарь нужно не только пополнять, но и расширять.
Вот, например, взгляните сколько синонимов соответствуют слову perfect: http://translate.google.ru/#en/ru/perfect
А вообще программа хорошенькая)

[2012-10-07 13:40] ReanGD commented on #47
Было связано с тем, что рейтинг слова, иногда мог уменьшаться до 0 и если все слова имеют такой рейтинг, процедура выбора - зацикливалась.
Поправил. Теперь рейтинг всегда больше 0 и в процедура выбора слова для изучения добавлен счетчик позволяющий избежать зацикливания в любом случае.

[2012-10-07 13:40] #47 closed, assigned to ReanGD

[2012-10-07 15:05] ReanGD commented on #10
В том то и дело, что это все - синонимы, честно - не вижу особого смысла показывать штук 20 переводов для слова, если они почти одинаковы.

[2012-10-07 15:21] StasikBla opened #48 "Направление перевода"
Можно ли добавить направление перевода ru-eng. Не нашёл в source, где изменить, только начал изучать язык. Уже пользуюсь, спасибо нужная вещь, не против переделаю сыну для изучения таблицы умножения, для этого и нужно узнать где направление изменить на постоянно: задание-> (2 Х 2) ответ ->(4)

[2012-10-07 15:33] ReanGD commented on #48
только за, если кому-то пригодиться код буду рад.

там присутствуют оба направления, они случайным образом выбираются в начале каждого урока, ничего специальным образом добавлять не нужно.
Если интересует место в коде, то в [lesson.py](https://github.com/ReanGD/LearningEnglish/blob/master/lesson.py) строка 38:
...
self.type_pr = random.choice([word.en_to_ru_write, word.ru_to_en_write])
...
если я

[2012-10-07 16:07] StasikBla commented on #48
Спасибо за понимание, да это та нужная мне строка.

[2012-10-07 17:40] #48 closed, assigned to nobody

[2012-10-07 23:48] maxirk commented on #44
Попроситье на хабре в посте что ли :)

[2012-10-09 18:52] ReanGD commented on #46
Насчет командного окна, я как понимаю вы работаете под windows, тогда у вас никакой проблемы нет - если не хотите запускать через консоль как написано в readme, то просто выберете "открыть с помощью" на файле main.py и укажите там путь к pythonW.exe (он находится в корне директории, куда вы установили python) + поставте галочку использовать эту программу по умолчанию.
Вот с Linux и OS X - пока не

[2012-10-09 18:53] ReanGD commented on #46
Насчет трея - похоже что не существует кроссплатформенной реализации для tkinter. Если найду обязательно добавлю

[2012-10-09 18:54] ReanGD commented on #44
Надеюсь вы шутите. Среди нескольких десятков заинтересовавшихся вряд ли найдется профессиональный разработчик по Android, готовый бесплатно потратить около человека-месяца на проект и потом его постоянно поддерживать.

[2012-10-09 18:55] ReanGD commented on #32
думаю можно закрывать.

[2012-10-09 18:55] #32 closed, assigned to nobody

[2012-10-10 04:37] maxirk commented on #44
Версию для Android можно и продавать. Вот только программку нужно
раскрутить - сделать все для обычных пользователей. Виндовую версию,
скомпилировать как обычную программу. Сделать промо-сайтик красивый. Просто
реально ваша идея - это гораздо лучше чем где-либо видел.

2012/10/10 Vladimir notifications@github.com

##

Богданов Максим Анатольевич маркетолог ЗАО "ТД "Энерпром"
+79140133371 max-irk w

[2012-10-10 09:05] maks-a opened #49 "Не считать "е" вместо "ё" ошибкой."
При вводе слова не считать ошибкой, если вместо буквы "ё" введена буква "е", т.е. ответы "тёмный" и "темный" считать правильными.
P.S. Извиняюсь, не увидел что этот баг уже исправлен в #36.

[2012-10-10 09:21] maks-a opened #50 "Уйти от "накопительной" системы рейтинга к "текущей"."
Настоящая система рейтинга получается "накопительной", т.е. считаются ответы за все время существования карточки. Это замедляет "выучивание" сложных слов.

Например, есть слово которое очень сложно запоминается и поэтому пользователь вначале часто дает неправильный ответ, со временем ситуация улучшается и в какой-то момент пользователь начинает постоянно давать правильные ответы, но к этому момент

[2012-10-10 09:25] maks-a opened #51 "Окно статистики сделать с прокруткой по горизонтали и ресайз."
Если в словаре есть слова с длинным полем перевода, то невозможно посмотреть статистику.
P.S. ресайз исправлен в #37

[2012-10-10 09:27] maks-a opened #52 "После появления окна ввода слова сделать задержку в 1-2с на ввод текста."
Окно ввода слова часто появляется внезапно и возможно случайное введение неправильного ответа. Как вариант решения проблемы - ввести задержку на ввод данных в 1-2с после появления окна.

[2012-10-10 09:31] #49 closed, assigned to nobody

[2012-10-10 15:03] maks-a opened #53 "Не допускать повторного появления слов за один урок."

[2012-10-10 18:14] ReanGD commented on #53
Вы вероятно что-то перепутали. Выбор слов реализован так, что они повторятся не должны до тех пор, пока не кончатся доступные для изучения слова.
В начале каждого урока заполняется массив - доступными для изучения словами, из которого вынимаются слова для изучения с удалением, как только массив опустел, он заполняется вновь, вот на этом этапе они и начнут повторятся. Собственно [исходник](E:Projec

[2012-10-10 18:18] ReanGD commented on #50
Потрясающе, спасибо большое. Долго думал над этой проблемой, но так и не нашел подходящего решения.
От "накопительной" системы статистики отказывать не буду полностью, оставлю ее в качестве информационной составляющей, но считать слово изученным действительно лучше предложенным методом - добавляя и уменьшая баллы за ответ.
Еще раз спасибо за идею.

[2012-10-10 18:30] ReanGD commented on #44
Спасибо за лестное мнение.
Меня, к сожалению, не интересует раскрутка, продажи и т.п.
Это проект-хобби, которым я занимаюсь в редкие свободные минуты. Превращать его в работу - не хочу, работы и так слишком много в жизни.
Если у вас или у кого-то еще будет желание и возможность сделать на этом деньги - я не против.

[2012-10-10 18:58] maks-a commented on #50
Различие в алгоритме расчета информационных процентов "выученности" и реальных может ввести пользователя в заблуждение.
В любом случае, спасибо Вам за реализацию, сделали то что я давно задумал, но руки не доходили, да и не по питону я...

[2012-10-10 19:00] maks-a commented on #53
Странно, но словарь у меня чуть больше 2000 слов, кол-во изучаемых одновременно 50 (по умолчанию).

[2012-10-11 07:24] maks-a commented on #53
В вашем предыдущем сообщении, в предложении "Собственно исходник." слово "исходник" выглядит как ссылка (синий, подчеркивается при наведении), но при клике ничего не происходит.

[2012-10-11 07:27] maks-a commented on #53
По поводу повторения слов в уроке - это произошло совершенно точно в двух уроках подряд, причем в последнем одно слово повторилось не 1, а 2 раза.
Как бы сюда прикрепить файлы? Может мои текущие config.json, dict.json и statistic.json могли бы помоч воспроизвести баг.

[2012-10-11 08:25] ReanGD commented on #53
Что-то ссылка не работает, вот явная ссылка на исходник: "https://github.com/ReanGD/LearningEnglish/blob/master/lesson_words.py"
Может выложите куда-нибудь сюда: "http://narod.yandex.ru/" или любой другой общедоступный файлообменник, а тут дадите ссылку? github похоже не позволяет прикреплять файлы.

[2012-10-11 08:29] ReanGD commented on #53
Я собственно нашел там ошибку, там в защите от зацикливания - происходит выход из цикла без удаления слова из массива. Но это как-то невероятно, что вы постоянно в ту ветку попадаете. Поправлю сегодня после работы, может поможет.

[2012-10-11 08:33] maks-a commented on #53
statistics - http://pastebin.com/dwdgk60p
config - http://pastebin.com/s6hucPpR
dict - http://pastebin.com/phkfJ7Zy

[2012-10-11 08:36] maks-a commented on #53
Не совсем понятна логика внутри цикла

[code]

В первой строке цикла уже достается случайное слово из списка оставшихся, для чего нужна последующее сравнение со случайным рейтингом?
По-моему, достаточно просто вынимать певрое случайное слово.

[2012-10-11 09:15] ReanGD commented on #53
В массив выбираются все изучаемые слова + все изученные. Выбирать из них просто случайным образом - не пойдет, т.к. одинаково часто будут появляться изученные слова и только начатые, те слова, где я в 90% случаев отвечал правильно и те, где в 90% случаев ошибался и т.п.
Я ввел рейтинг, чем он выше, тем чаще слово должно показываться пользователю, при этом с неким элементом случайности.
В цикле - р

[2012-10-11 12:09] maks-a commented on #53
похоже я не тот файл статистики прикрепил, вот правильный - http://pastebin.com/jY4Xr0NV

[2012-10-11 20:30] ReanGD commented on #53
Создал тест, который честно прогоняет 500 уроков, по 50 слов в каждом, все создавал честно, как в приложении, с перезагрузкой словаря и т.п.
Ни разу, ни одно слово не повторилось в одном уроке дважды. Я прям не знаю, как это у вас получается.
Единственное что мог сделать - закрыл единственную, что нашел, но очень маловероятную ошибку в этом механизме. Надеюсь поможет.

[2012-10-11 20:37] maks-a commented on #53
Хорошо, спасибо.

[2012-10-13 02:55] ghost commented on #53
У меня как-то тоже 2 раза подряд вывело одно и тоже слово..

[2012-10-13 22:52] ReanGD opened #54 "Переход на полноценный виджет для таблиц"

[2012-10-16 02:48] maxirk commented on #46
У меня проблема в этом
См скрин: http://pic2net.ru/view/v/fdebc06c6cb7451aa68c7190e14515ec.jpg
Нужно что бы данное окно не было видно - зачем оно мешается?

[2012-10-16 04:45] maxirk commented on #46
Для Windows есть программы, которые умеют сворачивать по правому клику на "minimize" в трей.
Например
http://rbtray.sourceforge.net/ (простая) и http://www.4t-niagara.com/tray.html (новороченая)

[2012-10-16 05:13] maxirk opened #55 "Как добавлять таблицы слов в программу?"
Я активно использую сервис http://wordsfromtext.com
Получаю обычную таблицу слов.
Как удобнее привести такую таблицу к формату dict.json?

["tunnel",      "tʌnl",            "т[у]ннель"],

[2012-10-16 05:20] maxirk commented on #55
Вот к примеру таблица https://www.sugarsync.com/pf/D6928101_9276249_6355141

[2012-10-16 05:45] maxirk commented on #55
Извращался конкретно:

В excel использовал команду "СЦЕПИТЬ" и получил в ячейке "1abate2/ə'beɪt/3ослаблять, уменьшать, умерять4".

Далее заменял:
1 на ["
2 на ","
3 на ","
4 на "]

И вот сделал такой файл dict.json https://www.sugarsync.com/pf/D6928101_9276249_6366928
Но почему программа не запускается?

Все-таки нужен быстрый способ что бы обычную таблицу со словами запихать в программу - наприме

[2012-10-16 08:51] maks-a commented on #46
Что бы не появлялось окно консоли можно переименовать main.py в main.pyw, в Win такой файл будет помечен как Python File (no console).

[2012-10-16 21:45] ReanGD opened #56 "Размеры шрифтов под разные платформы"
На OS X в текущей версии шрифты отличаются от Linux и Windows - слишком мелкие.

[2012-10-16 21:55] ReanGD commented on #56
Я поборол проблему с мелкими шрифтами под OS X, по крайней мере судя по виртуалке. У кого есть возможность проверить на реальной машине отпишитесь пожалуйста.

[2012-10-16 22:00] ReanGD commented on #46
Насчет трея - я не буду использовать решение жестко завязанное под одну платформу, да еще требующее установки дополнительного ПО, это не правильно. Лучше попробую поискать нечто более подходящее.

[2012-10-16 22:29] ReanGD commented on #46
Насчет консоли - вы явно не хотите заморачиваться с pythonw. Тогда вам действительно подойдет вариант maks-a, правда я предлагаю не переименовывать main.py, что бы не иметь проблем с обновлением, а скачать вот [этот файл](http://narod.ru/disk/62580809001.40052ca9c994567fadf0edb337fdcde1/run.pyw.html) и запускать его.
Он ничего особенного не делает, просто запускает main.py и имеет нужное вам расши

[2012-10-16 23:59] maxirk commented on #55
Так как же делать словари? Почему у меня словарь не работает. Хочется уже поизучать :)

[2012-10-17 00:57] maxirk commented on #46
Спасибо, работает. По поводу сворачивания в трей ищите решение.
Помогите со словарем https://github.com/ReanGD/LearningEnglish/issues/55

[2012-10-17 07:10] maks-a commented on #55
У вас последняя строчка заканчивается запятой, уберите ее.

["inscrutable", "ɪn'skru:təbl", "непостижимый, загадочный"],
["insincere", ",ɪnsɪn'sɪə", "неискренний, лицемерный"],
["insolent", "'ɪnsələnt", "оскорбительный"],
]

[2012-10-17 07:11] maks-a commented on #55
Для этой цели я написал себе простой python-скрипт по преобразованию словаря со страницы lingualeo в json

[code]

Первоначальный файл имеет такой формат:

1   aback   [əbˈæk]  захваченный врасплох, смущенный
2   abandoned   [əbˈændənd] заброшенный
3   abdicated   [ˈæbdɪkɛɪːtɪd]   отрёкся, отказался
4   abide   [əbˈaɪd] подчиняться, согласиться с последствиями
5   abolish [əbˈɒlɪʃ]  уничтожать, от

[2012-10-17 07:46] maxirk commented on #55
Замечательно! На самом деле я как раз учу слова в тренировках LinguaLeo
Подскажите как запустить данный скрипт? Точнее что именно нужно сделать что бы получить dict.json со словаря lingualeo  (я чайник)

Убрал, но все равно программа не запускается https://www.sugarsync.com/pf/D6928101_9276249_6366928 - что не так?

[2012-10-17 07:50] maxirk commented on #44
Кстати под Андроид я учу с помощью программы Wordoholic http://4pda.ru/forum/index.php?showtopic=157804
Посмотрите. Хотя там стандартная идеология - создаешь много словарей и потом они по расписанию выскакивают в строке уведомлений на повтор.

Поэтому вот бы здорово найти разработчика Android версии. В любом случае я думаю энтузиасты должны найтись. На хабре бы попросили сразу :) Ведь люди часто х

[2012-10-17 07:59] maks-a commented on #55
вы убрали все запятые, а нужно было только последнюю.

[2012-10-17 08:03] maks-a commented on #55
для получения json-словаря из лингвалео:
- зайти в словарь лингвалео, найти там "Печатать(все)", выделить список слов и сохранить его в текстовый файл
- в моем скрипте указать путь к текстовому файлу словаря из лингвалео в переменной - INPUT_FILE
- указать имя желаемого json-словаря в OUTPUT_FILE, запустить скрипт

[2012-10-17 08:15] maxirk commented on #55
Где же все? Вот так выглядит -
[
["abate", "ə'beɪt", "ослаблять, уменьшать, умерять"]
["abhor", "əb'hɒ:", "питать отвращение"]

Все же запятые на месте? ( https://www.sugarsync.com/pf/D6928101_9276249_6366928 )

Как запускать скрипт? Как-то через консоль это все прописывать? Говорю же я ламер :)

[2012-10-17 08:43] maks-a commented on #55
Читаем _внимательно_ мой коммент - https://github.com/ReanGD/LearningEnglish/issues/55#issuecomment-9517958
считаем там запятые, находим последнюю, одну единственную запятую.

[2012-10-17 08:51] maxirk commented on #55
Спасибо, извинте за невнимательность. Заработало.

[2012-10-17 08:56] maks-a commented on #55
нужно в папку положить входной файл словаря, который будете преобразовывать и файл скрипта (назовите его convert.py). у вас должен быть установлен python 2.7. для запуска либо дважды кликнуть на скрипте, либо запустить его в командной строке.
если есть желание научиться запускать питоновские скрипты - начните с простых примеров "hello world".

[2012-10-17 19:25] ReanGD commented on #55
Тут уже и без меня похоже разобрались )

[2012-10-17 19:36] ReanGD commented on #44
Спасибо, посмотрю как время появится, я лично пользовался вот этим https://play.google.com/store/apps/details?id=com.wordsteps , но как-то не пошло у меня изучение на телефоне.
Насчет поиска энтузиастов - селяви, ну нет у меня сейчас времени, в лучшем случае пол часа в день десктопному проекту удается посвятить, а бегать уговаривать кого-то еще, совсем некогда, да и не тянет.

[2012-10-17 21:36] ReanGD commented on #52
Задержку добавил, ее можно указывать в конфиге, по умолчанию 1 сек.

[2012-10-17 21:36] #52 closed, assigned to ReanGD

[2012-10-18 00:44] maxirk opened #57 "Картинки слов как в LinguaLeo"
А что если при вопросе слова показывать картинку? Когда картинка связыватся со словом - слово лучше запомниается (проверено LinguaLeo).

В упражнении русский > английский картинку показывать сразу.
В упражнении английский > русский картнику показывать после ответа (иначе она будет подсказкой)

Сделать что бы словам картинки присваивались автоматически как в LinguaLeo. Вручную я не буду их присваив

[2012-10-18 01:36] maxirk opened #58 "По Enter если пусто, то неправильно"
Если слово вообще не знаю нужно нажать "Enter" для неправильного ответа.
Сейчас так нельзя - когда не знаешь слово приходится писать что-нибудь и потом нажимать Enter,

[2012-10-18 01:39] maxirk opened #59 "Выводить цифру кол-ва букв в скобках"
Надо выводить цифру кол-ва букв в скобках

[2012-10-18 18:59] ReanGD commented on #57
А откуда вы предлагаете эти картинки получать?

[2012-10-18 19:02] ReanGD commented on #58
Я специально делал такое поведение, т.к. случайные нажатия на Enter - доставали.
Если я сделаю, так что например по ctrl+Enter пустое поле будет засчитываться за неправильный ответ, такое поведение устроит?

[2012-10-18 19:04] ReanGD commented on #59
Кол-во букв чего, перевода? А в направлении En->Ru может быть несколько вариантов перевода, какое тогда кол-во выводить, и вообще зачем?

[2012-10-19 00:06] maxirk commented on #59
Ах, да я забыл что у нас несколько вариантво перевода. Вообщем не нежуно. В других программах так нельзя - отлько одно слово в таблице может быть и поэтому там указывается количество букв. Тут это не нужно.

[2012-10-19 00:06] #59 closed, assigned to nobody

[2012-10-19 00:07] maxirk commented on #58
Хм, у меня нет случайных вроде. Я по enter хочу, может подскажете где в коде самому назначить кнопку можно?

[2012-10-19 00:08] maxirk commented on #57
Оттуда же откуда LinguaLeo. Или из LinguaLeo - ведь у меня все слова там.

[2012-10-19 05:29] maks-a commented on #57
Теоретически можно посылать запрос в поисковик по слову (искать картинки), парсить полученные первые результаты и выводить картинки пользоватлею, дальше выбранный пользователем вариант сохраняется локально и показывается в дальнейшем.

maxirk, попридержите коней, хорошо? за вашими хотелками не угнаться. может вам стоит начать изучение Python, сделать форк и самостоятельно их воплощать? и слова выу

[2012-10-19 05:48] maxirk commented on #57
Да так и надо. Наверное Lingualeo так их и получает.

В любом случае, если получится сделать картинки, то эффективность запоминания возрастет ощутимо. Эта методика общеизвестна - допустим нужно запомнить какой-то список, представляешь это в виде образов. Насчет изучения Python - к сожалению я совсем не программист. Я вашу программу еле запустил вообще :)

[2012-10-19 06:07] ReanGD commented on #57
Хорошая идея, можно попробовать, только боюсь не скоро.
Там есть большая проблема, по многим словам в выдаче будет не то, что хотелось бы, например по запросу (http://images.yandex.ru/yandsearch?text=angry) yandex ожидаемо выдает картинки angry birds, а более менее приемлемые результаты далеко не первые, хотя нужно отдать должное google в этом случае дает довольно адекватные результаты, но думаю э

[2012-10-19 06:09] ReanGD commented on #58
Ок, после работы найду вам строчку, которую нужно закомментировать для этого.

[2012-10-19 06:19] maxirk commented on #57
ну и нормально, представляешь что птичка злая. Самое главное в этой технике запоминания это само присутсвие картинки-ассоциации, а почему она злая можно и додумать.

[2012-10-19 21:04] ReanGD commented on #58
Достаточно за комментировать вот эту [строчку](https://github.com/ReanGD/LearningEnglish/blob/master/GUI.py#L392) и следующую за ней и все будет работать, как вы хотите.

Если помогло, закройте пожалуйста задачу

[2012-10-19 21:11] ReanGD commented on #55
Я как понял все работает, можно закрывать задачу

[2012-10-24 05:09] maxirk opened #60 "Убирать из изучения слова со 100% рейтингом и добавлять с 0%"
Вот я начал учить слова, в статусе изучение 50 слов. Из этих слов по многим я уже достиг 100% в статистике, но программа все равно меня их спрашивает и не включает новые слова на изучение.

Этого не произойдет пока я не достигну для этих 50 слов 100% по всем словам? Но все равно зачем меня спрашивать слова где у меня 100% статистика?

Допустим я с каким-то словом накосячил - много раз неправильно

[2012-10-24 20:14] ReanGD commented on #60
Откройте настройки, слово, по умолчанию, считается изученным если у него 97% правильных ответов и как минимум 10 успешных ответов. Как только слово попадает под этот критерий, оно отмечается изученным и его программа начинает спрашивать сильно реже, как минимум в 3 раза (часто более чем в 3 раза, зависит от статистики и еще ряда факторов). На место изученного слова выбирается случайное новое с рей

[2012-10-25 07:30] maxirk commented on #60
Теперь понятно почему она меня мучает :) А где можно количество успешных ответов указать. Я хочу 5 - а то уже 2ую неделю новые слова не добавляются - для меня кажется это сильно много.

[2012-10-25 07:31] maxirk commented on #50
Ок. Напишите тут когда будет такая система.

[2012-10-25 07:32] maxirk commented on #58
Комментировать это поставить перед ней ";"

Поставил
;if user_answer.strip() == "":
            ;   return

Программа не запускается.

[2012-10-25 07:36] maxirk opened #61 "Где править количество слов за урок?"
Сейчас получается после 5 правильных ответов урок заканчивается. Хочу 10. Где править количество слов за урок?

Ну и заодно напишите где менять время появления следующего урока (пока утраивает по-умолчанию, но может быть понадобится)

[2012-10-25 08:44] ReanGD commented on #58
Нет, комментарий обазначается символов "#"

[2012-10-25 08:46] ReanGD commented on #61
откройте config.json, там все настройки и для каждого русский комментарий.

[2012-10-25 08:47] ReanGD commented on #60
Откройте config.json, там все настройки, что вас интересуют с комментариями.

[2012-10-26 00:15] #61 closed, assigned to nobody

[2012-10-26 00:16] #60 closed, assigned to nobody

[2012-10-26 00:18] maxirk commented on #58
Ok, получилось. Спасибо! :)

[2012-10-29 17:10] ReanGD opened #62 "Возможность задавать синоними английских слов через запятую"

[2012-10-30 22:03] ReanGD commented on #53
Нашел еще одно место, которое может приводить к повторению слов в уроке.
Поправил. У кого есть возможность, скачайте последнюю версию из главной ветке и потестируйте.

[2012-10-31 05:26] v1k opened #63 "Не учитывать результат перевода нового слова"
Если слово впервые выбрано из словаря(перешло из состояния "учить" в состояние "изучаем"), не учитывать результат в статистике.

[2012-10-31 06:07] ReanGD commented on #63
В принципе логично, сделаю

[2012-11-03 18:32] #63 closed, assigned to nobody

[2012-11-05 14:06] ReanGD commented on #56
Будем считать исправленным

[2012-11-05 14:06] #56 closed, assigned to ReanGD

[2012-11-05 14:32] ReanGD commented on #54
Таблица для отображения статистики готова. Добавлена сортировка, постараничный вывод, скроллирование по горизонтали и вертикали, заголовки столбцов теперь всегда видны, навигация по странице горячими клавишами.

[2012-11-05 14:32] #54 closed, assigned to ReanGD

[2012-11-05 14:34] ReanGD commented on #51
Переделал таблицу для отображения статистики. Помимо прокрутки добавлена сортировка и постраничный вывод.

[2012-11-05 14:34] #51 closed, assigned to ReanGD

[2012-11-05 14:35] ReanGD commented on #38
Переделал таблицу для отображения статистики. Добавил сортировку, постараничный вывод, скроллирование по горизонтали и вертикали, заголовки столбцов теперь всегда видны и т.п.

[2012-11-05 14:35] #38 closed, assigned to ReanGD

[2012-11-05 15:28] ReanGD opened #65 "Вызов окна статистики через консоль"

[2012-11-09 01:15] maxirk commented on #46
В принципе сворачивание в трей не нужно. Сейчас у меня по завершении упражнения, программа вообще исчезает (нет ни в трее ни в таскбаре). Как приходит время появляется окно для ввода.

[2012-11-09 01:15] #46 closed, assigned to nobody

[2012-11-09 02:05] maxirk opened #66 "Добавление вариантов перевода из неправильного ответа."
Допустим я ввел правильный перевод и я точно это знаю, но в таблице слов такого ответа нет.
Нажимаю сочетание клавишь на клавиатуре и это слово добавляется в словарь.

Это будет удобно. На данный момент приходится вручную открывать словарь, искать это слово и добавлять - жутко неудобно. Но нужно. Не знакю как вам а мне в процессе упражнения, часто хочется поправить перевод слов в словаре, но т.к.

[2012-11-09 03:52] maxirk commented on #62
А можно подробнее что это? Наверное как раз что я тут https://github.com/ReanGD/LearningEnglish/issues/66 имаю ввиду?

[2012-11-09 13:15] ReanGD commented on #66
Согласен, возможность редактирования перевода и транскрипции у текущего слова была бы не лишней.
Правда после этого весь словарь будет переформатирован по другому, если это кому-то важно...
Список того, что я буду делать в следующей версии я уже определил, это в будующие доработки.

[2012-11-09 13:18] ReanGD commented on #62
Нет, это другое.
Сейчас можно жестко задать только одно английское слово - а в переводе к нему указывать несколько синонимов переводов через запятую, уточняющие фразы и т.п. Попросили нечто подобное сделать и для английских слов.

[2012-11-10 03:41] maxirk commented on #66
Не понял что имеете ввиду. ормат словаря disct.json будет другой? Ну это без разницы.

[2012-11-10 06:14] ReanGD commented on #66
формат останется такой же - выравнивание съедет

[2012-11-13 05:10] maxirk opened #67 "Иногда вылетает"
Иногда вылетает на разных словах.

Ввожу ответ. Поле ввода становится серым. Продолжаю несколько раз жать Enter и программа вылетает.

Отследить какую-то зависимость не могу.

[2012-11-13 05:38] maxirk commented on #57
А ведь есть же скрипт импорта слов из словаря LinguaLeo  - может будет проще сделать скрипт, который бы и картинки оттуда брал?

Я ооочень жду картинок в вашей программе. Для меня наверное запоминиане увеличиться на 50% :)
Повесьте ярлычок Future :)

[2012-11-13 07:08] maxirk commented on #66
Причем это все-таки должна быть не кнопка в окне. А сочетание клавишь - т.е. что бы с клавиатуры это слово добавлялось. Так не придется руку на мышь отрывать от клавиатуры.

[2012-11-13 18:28] ReanGD commented on #67
Ни разу не наблюдал подобного и повторить не могу. Если получится добиться хоть какой-то стабильности в воспроизведении, пишите, поправлю.

[2012-11-13 18:30] ReanGD commented on #66
Кнопка все же нужна, иначе никто просто не узнает, что такая функциональность есть. То что можно продублировать это горячими клавишами - согласен.

[2012-11-13 18:35] ReanGD commented on #57
Я боюсь LinguaLeo не заинтересован легко отдавать свои данные, он на этом деньги зарабатывает. Я понимаю что эта задача нужная и полезная, но пока не успеваю даже что-то сильно меньшее делать.
Future - для тех задач, которые точно в моих силах - тут я не уверен, что принципиально получится сделать что-то подобное, sorry )

[2012-11-13 23:47] maxirk commented on #57
Нужно просто думать в фоне как это сделать.. :) Вдруг идея придет. Это усилит запоминаемость более чем в 50%

![a80670403a2471be7f5e1b3f72ab2ce7 1 ](https://f.cloud.github.com/assets/2482896/16215/fc3b92ec-4817-11e2-95f9-656d75a70261.png)
Кстати, тренировался в Lingualeo на Android заметил фишку, что картинка показывается только сильно заблюрена Т.е. фактически это небольшая подсказка - это активи

[2012-11-14 04:53] maxirk commented on #50
Все я тоже замучился одни и те же слова вводить.. Пока не буду использовать программу.

[2012-11-14 11:06] maks-a commented on #50
предлагаю посмотреть мой вариант - он, конечно, сильно урезан, но зато с такой логикой отметки рейтинга как хотел - https://github.com/maks-a/LearnEnglishWords
за основу был взят вариант @ReanGD, спасибо большое ему за это!
я подумал, что проще самому разобраться с питоном и написать то что нужно мне, чем ждать пока кто-то это сделает для меня.
P.S. кстати, рабочий вариант получился за месяц в сво

[2012-11-14 19:41] fsergey opened #68 "Интерфейс-Лайт (без строки ввода)"
Спасибо автору за программу.
Далее предложения.
Предистория: в свое время заучивал английские слова по еще по бумажным карточкам. На одной стороне английские слова на другой перевод. Перекладываешь карточки если помнишь (занимает около 1 сек) и смотришь перевод если не помнишь/сомневаешься (около 3 сек). Понравился этот метод
1.за быстроту заучивания (можно за 10 минут повторить несколько раз пачк

[2012-11-15 01:50] maxirk commented on #50
Ну раз код готов пусть ReanGD включает в свой родной проект?
А пока буду использовать версию от maks-a

[2012-11-15 02:50] maxirk opened #69 "Перенос наработок от Maks-a в основной проект"
https://github.com/maks-a/LearnEnglishWords

Скриншот http://clip2net.com/s/2vmpO
1. Реализован  уход от "накопительной" системы рейтинга к "текущей"
   https://github.com/ReanGD/LearningEnglish/issues/50
2. Вопрос перед стартом урока. (Мне это не нужно. В файле настроек должно отключаться.)
3. Добавлен прогрессбар в главном окне
4. Файловая структура программы упорядочена
5. По-умолчанию в архиве

[2012-11-15 06:38] ReanGD commented on #50
maks-a, скачал - взглянул мельком, пока не могу полностью изучить. Интересно получилось, понравились некоторые интерфейсные решения, не возражаете, если я их частично скопирую? Попробую на выходных все же собраться с силами и взяться за свой проект, а то совсем забросил что-то (
Да и зря вы без тестов, сложнее потом будет.

[2012-11-15 06:44] ReanGD commented on #69
Да, я видел, спасибо. Там не возможно просто скопировать пару файлов, это очень сильно переделанный проект, но некоторые особенности, я хочу честно скопировать, если автор не против, конечно.

[2012-11-15 07:00] ReanGD commented on #68
Я в основном делал под себя, у меня таким образом не получалось запоминать слова, а через написание гораздо лучше идет.

Посмотрите для этого - [Anki](http://ankisrs.net/) обзор на [youtube](http://www.youtube.com/watch?v=UHGWre0Nq4g). Там, как я понял как раз такая система и используется, если чем-то не устроит пишите, учту ошибки Anki и добавлю эту задачу в список на реализацию, но я не знаю ког

[2012-11-15 07:23] maks-a commented on #50
можете использовать все что хотите. писал без тестов, так как по ходу много раз все переделывал.

[2012-11-15 07:31] maks-a commented on #69
мой проект сильно переделан потому что писался с нуля с подглядыванием на вариант @ReanGD, а не изменением уже готового.
я в другой ветке уже сказал что не против копирования, берите что нравится :)
по поводу вопроса перед стартом урока он нужен по двум причинам:
- переключить раскладку клавиатуры в нужную для урока
- исключить неожиданное выскакивание на экран слов (а то может в уроке быть ненорм

[2012-11-15 07:36] maks-a commented on #68
я бы посоветовал @ReanGD не разрываться, на всех не угодишь, делайте в первую очередь для себя и только самое необходимое. запросы от пользователей реализовывать в первую очередь те, которые вписываются в ваши представления о программе.

для пользователей же я бы посоветовал попробовать свои силы в программировании, питон очень быстро учится, свой вариант программы, которая подходит мне больше чем

[2012-11-15 20:50] ReanGD commented on #62
Реализовано, правда следует обратить внимание, что статистика и словарь связаны между собой по английскому варианту слова, так что изменив последний, желательно поправить его в файле со статистикой(statistic.json), иначе вы начнете изучать это слово заново.
В рамках задачи #66 я добавлю возможность менять английский вариант слова с автоматическим обновлением статистики.

[2012-11-15 20:50] #62 closed, assigned to ReanGD

[2012-11-19 07:27] maxirk commented on #69
Ждем, ждем...

[2012-11-19 08:25] ReanGD commented on #69
@maxirk, а я думал вы перешли к "конкурентам" :)
Может стоит тогда не ждать, а включиться и помочь?

[2012-11-19 08:33] maxirk commented on #69
Я не программист совсем. Все что нужно это скопировать технологию системы рейтинга. А остальные улучшения не так критичны..

[2012-11-23 01:25] maxirk commented on #69
Ничего новенького? :)

[2012-11-23 12:34] ReanGD commented on #69
Ничего, мне пока не до проекта.

[2012-12-03 19:42] ReanGD commented on #66
Добавил интерфейс для редактирования слова, умеет автоматически изменять статистику по этому слову, если изменился английский перевод. Редактирование доступно из основного окна (кнопкой или по ctrl+Enter) после того, как вы ответили на слово, а так же из таблицы со статистикой по двойному клику.

[2012-12-03 19:42] #66 closed, assigned to ReanGD

[2012-12-04 17:53] maks-a opened #70 "#!/usr/bin/env python в main.py"
Добавьте, плз, в начало main.py строку
# !/usr/bin/env python

для запуска под убунтой.

[2012-12-05 17:45] ReanGD commented on #70
Добавил. Так же пришлось менять в main.py переносы строк на юниксовые, иначе ничего не работало

[2012-12-05 17:45] #70 closed, assigned to ReanGD

[2012-12-05 20:57] yudjin87 opened #71 "добавить часть речи к переводимому слову"
Очень поможет, потому как бывают такие случаи:
last (adj/прилагательное) - последний
но
last (v/глагол) - длиться

[2012-12-06 16:11] ReanGD commented on #71
А ни кто и не мешает сейчас добавлять части речи, я как раз недавно сделал доработку, когда к любому английскому слову можно, как и к русскому добавлять уточнения в круглых скобках (лучше через интерфейс, если уже начали изучать, что бы не сбросить статистику по изменяемому слову).
Если имелось ввиду делать это автоматически - то боюсь это не возможно, только вручную, только хардкор )

[2012-12-06 19:56] yudjin87 commented on #71
ну тогда можно закрывать

[2012-12-06 19:56] #71 closed, assigned to nobody

[2012-12-15 12:47] maks-a opened #72 "Звук"
Не знаю как на гитхабе отправить личное сообщение, поэтому написал тут.
На досуге решил подтянуть неправильные глаголы и вот что из этого получилось - https://github.com/maks-a/IrregularVerbs
Самое главное - добавил озвучивание слов, сделал это через pyAudio, может можно как-то по другому, но у меня ушла куча времени на проверку разных вариантов, а заработал только этот. Проверял только под убунто

[2012-12-15 15:20] maks-a commented on #72
Буду эту ветку в качестве сообщений не по теме использовать.
Не могу на хабре комментировать, т.к. read-only, но увидел у вас коммент http://habrahabr.ru/post/152831/#comment_5197659
Есть уже готовые скрипты, вот девушка на хабре целую статью написала по частотному анализу - http://habrahabr.ru/post/161073/
Я тоже для себя писал простой стеммер, который работал по эталонному словарю на 100к слов,

[2012-12-15 22:51] ReanGD commented on #72
Предлагаю использовать ReanGD@yandex.ru в качестве личных сообщений (я правда завтра уезжаю на неделю и не уверен что смогу отвечать сразу, но все же... Так же я не против перейти на ты, если нет возражений :)

Насчет звука - не смущает, то что pyAudio имеет различные бинарники под разные платформы? Я думал про (http://docs.python.org/2/library/winsound.html и http://docs.python.org/2/library/ossa

[2012-12-16 00:33] ReanGD commented on #50
Готово, что делает думаю понятно по развернутому комментарию в самом начале.

[2012-12-16 00:33] #50 closed, assigned to ReanGD

[2012-12-16 00:36] ReanGD commented on #53
За два месяца ни одного обращения, что ж считаем, что ошибка исправлена

[2012-12-16 00:36] #53 closed, assigned to nobody

[2012-12-16 06:53] maks-a commented on #72
По поводу звука: да, хотелось бы конечно кроссплатформенное решение и попроще, но у меня так и не получилось запустить ossaudiodev. я уже в какой-то момент подумал бросить эту затею, но тут удалось запустить pyaudio.

так получилось, не хотел ломать предыдущую версию, поэтому начал в отдельной папке.

[2012-12-17 00:54] maxirk commented on #58
По идее - в настройки бы это вынести

[2012-12-17 01:03] maxirk opened #73 "Новый пост на habrahabr.ru"
Появилось много новых фишек. Думаю сейчас изменений достаточно для нового поста на habrahabr.ru - будет больше пользователей.

Нужно написать о:
- Переходе от накопительной системы к текущей https://github.com/ReanGD/LearningEnglish/issues/50
- Возможности редактировать слова "на лету" https://github.com/ReanGD/LearningEnglish/issues/62 https://github.com/ReanGD/LearningEnglish/issues/66
- Возможн

[2012-12-17 01:09] maxirk commented on #55
Добавьте скрипт импорта из Lingualeo https://github.com/maks-a/LearnEnglishWords/tree/master/utils в ваш родной архив. А то новички не будут знать что есть такая возможность.

Только нужно readme.txt еще сделать (а то может быть непонятно как работает)

По факту сейчас, если хочешь добавить слов, надо:
1. Отправить на печать нужные слова в словаре Lingualeo
2. Скопировать слова и вставить в файл "

[2012-12-17 02:14] maxirk commented on #66
1. Я ввел слово неправильно, но я точно знаю, что оно правильно. Нажимаю Ctrl+Enter и вписываю это слово.
   Но ошибка-то в статистики осталась, это неправильно - хотя непонятно как сделать по-другому.
2. А можно убрать "Подтверждение"? Так-то если я ввел слово - то точно не ошибся. :) Что где закоментить?

[2012-12-19 12:12] maxirk opened #74 "Попиарил на lifehacker.ru"
http://lifehacker.ru/2012/12/19/geek-reading
Последний пункт про вашу программу

[2012-12-26 11:13] ReanGD commented on #58
Ох и не хочется, что бы настройки разрастались. Ну ладно, вынесу в настройку.

[2012-12-26 11:15] ReanGD commented on #73
Мне лень писать, если честно, тем более, что не так уж и много чего поменялось.

[2012-12-26 11:17] ReanGD commented on #55
Скипт портирую, но как ускорить - без понятия, я особо из LL ничего не выгружал, так что у меня проблемы такой не стоит.

[2012-12-26 11:26] ReanGD commented on #66
1) Могу посоветовать редактировать словарь до того, как начнете по нему что-то учить :)
Если серьезно, то не так уж критичен один неправильный ответ, тем более с новой системой рейтинга.

2) Диалог с подтверждением я убирать не буду, т.к. действие довольно обширное и много чего меняет, но если хочется - вот эту строчку нужно закомментировать: https://github.com/ReanGD/LearningEnglish/blob/master/G

[2012-12-26 11:28] ReanGD commented on #74
Спасибо.

[2012-12-26 11:35] ReanGD opened #75 "Игнорировать опечатки в ответе"
Появилась идея, не знаю будет ли кому-то полезна:
Игнорировать опечатки при ответе, допустим в русском языке можно "прощать" неправильное написание "ться/тся", удвоенное "н" и т.п. ошибки, которые на смысл слова не влияют, в конце концов  изучается ведь английский язык, а не правописание в русском.
А так же в обоих языках "прощать" ошибки набора - пропущенную букву например.

Если есть мысли по эт

[2012-12-26 13:41] ReanGD opened #76 "Переработка графической подсистемы"
Улучшения внешнего вида главного окна + рефакторинг самой подсистемы.

[2012-12-26 13:51] ReanGD commented on #76
-Главное окно стало шире по умолчанию и от длинных слов теперь не "расползается" верстка окна(все элементы остаются на своих местах)
-Если слово встретилось впервые, для него отображается надпись "новое слово"
-При неправильном ответе - пользовательский ответ теперь отображается красным и зачеркнутым
-Исходный код перемещен в папку src (кроме файла для запуска - main.py)
-Отрефакторил модуль GUI.p

[2012-12-26 13:51] #76 closed, assigned to ReanGD

[2012-12-26 14:23] ReanGD opened #77 "Возвращать управление в консоль после запуска"
При запуске из консоли - возвращать ей управление, создавая новый процесс

[2012-12-26 15:43] #77 closed, assigned to ReanGD

[2012-12-27 14:38] ReanGD commented on #65
Окно статистики теперь можно вызывать через консоль в любое время, для этого нужно запустить main.py с параметром "-stat"
Примеры в документации: https://github.com/ReanGD/LearningEnglish/wiki/Установка-и-запуск

[2012-12-27 14:38] #65 closed, assigned to ReanGD

[2012-12-27 14:56] ReanGD opened #78 "Обратная связь"
Для сообщений не касающихся непосредственно доработок и ошибок, предлагаю использовать этот Issues.
Или можно непосредственно писать мне на почту ReanGD@yandex.ru

[2012-12-27 14:56] #74 closed, assigned to nobody

[2012-12-27 14:56] #72 closed, assigned to nobody

[2012-12-27 14:58] ReanGD commented on #44
Итог: версия под мобильные OS не планируется, по крайней мере в обозримой перспективе.

[2012-12-27 14:58] #44 closed, assigned to nobody

[2012-12-27 15:00] ReanGD commented on #41
Реализовано в задаче https://github.com/ReanGD/LearningEnglish/issues/65

[2012-12-27 15:00] #41 closed, assigned to nobody

[2012-12-27 15:37] ReanGD commented on #58
Добавил настройку, называется empty_answer_is_error, если ее выставить в "yes", то пустые ответы будут засчитываться как ошибочные

[2012-12-27 15:37] #58 closed, assigned to ReanGD

[2012-12-28 05:35] AntonZelinsky commented on #75
Нужно считать при 80% совпадении(-1-3 символа), как правильное слово. У меня с букву "ё" не приняла, так как в базе была ошибочно поставлена "е" - "желтый".

[2012-12-28 05:43] AntonZelinsky opened #79 "убрать окно терминала в запущенном состоянии"
Раз уж распространяете в виде исходников, то нужно убрать окно терминала. Очень раздражает, когда лишнее и совсем не нужное для конечного пользователя окно, занимает какую-то часть экрана.

[2012-12-28 15:12] ReanGD commented on #79
А как вы запускаете? Вроде нет никаких проблем с консолью:
Я способы запуска описывал в https://github.com/ReanGD/LearningEnglish/wiki/Установка-и-запуск

На Windows можно сделать вот такой bat-ник:
C:\Soft\Python26\pythonw.exe e:\Projects\GIT\LearningEnglish\main.py
естественно со своими путями, все запускается без консоли.
Ну в автозагрузку добавить потом его проблем думаю не возникнет.

На Linu

[2012-12-28 15:23] ReanGD commented on #75
Насчет е/ё:
А не подскажите как воспроизвести? Я сейчас для чистоты эксперемента скачал "чистую" последнюю версию https://github.com/ReanGD/LearningEnglish/archive/master.zip на Win7
Убрал из словаря все кроме "желтый" и запустил, принимает ответы и "желтый" и "жёлтый" как правильные.

[2012-12-28 17:06] AntonZelinsky commented on #79
В Windows 7, двойным щелчком по main.py файлу. В системе стоит Python версии 2.6 и 3.2. А заставлять пользователя писать что-либо в консоле это опять же неправильно. Если бы мне пришлось так запускать приложение, хотя бы больше двух раз, то на третий раз я не стал бы ничего прописывать в консоле, а просто забил на эту программу.

[2012-12-28 17:41] ReanGD commented on #79
Да я понимаю, что неудобно, но к сожалению на чистом python проблемно сделать по другому, причем кроссплатформенно. Но в конце концов я же за это не деньги беру, а сделал "под себя" и поделился с окружающими.
Если лень что-то прописывать в консоли - на Windows можно проще: правой кнопкой на main.py выбрать "открыть с помощью"/"выбрать программу"/"обзор" и указать путь к pythonw.exe в папке с pytho

[2012-12-28 19:08] ReanGD opened #80 "Пользовательские настройки"
Добавить пользовательский конфигурационный файл, который не будет перезатираться при обновлении.

[2012-12-28 19:46] ReanGD commented on #80
Добавил пользовательский файл с настройками config_user.json - он создается автоматически при запуске программы. Желательно все что отличается от стандартных настроек выносить сюда, поскольку config_user.json не находится в репозитории - он не будет перезатираться при обновлении.
Полнее все описано тут: https://github.com/ReanGD/LearningEnglish/wiki/Настройки

[2012-12-28 19:46] #80 closed, assigned to ReanGD

[2012-12-30 14:38] AntonZelinsky commented on #79
Так, а зачем в консоле вообще что-либо писать? Ведь если нормально был установлен python, то проблем с обычным запуском(двойной щелчёк по main файлу) не должно быть, он запускается так же как и exe файл.

[2013-01-02 21:38] ReanGD commented on #79
Проблемы начинаются если это не windows или если стоит несколько версий python. Но наверное вы правы, лучше переименовать main.py в main.pyw, хуже не станет. Переименовал в основной ветке.

[2013-01-02 21:38] #79 closed, assigned to ReanGD

[2013-01-04 00:39] ReanGD commented on #43
В словаре теперь можно оставлять произвольные слова без транскрипции, например:
["Hello", "Привет"]
Причем разрешено одновременно использовать слова без транскрипции и с транскрипцией в одном словаре.

Так же, при автоматической перезаписи словаря (например при переименовании слова), он теперь корректно форматируется, располагая слова в три/две колонки с выравниванием пробелами.

[2013-01-04 00:39] #43 closed, assigned to ReanGD

[2013-01-06 12:13] AntonZelinsky commented on #79
у меня 2.6 и 3.2 стоят. проблем нет

[2013-01-06 17:17] ReanGD commented on #79
Вам вероятно повезло и pyw файлы привязаны именно к 2.6
Если бы было наоборот, то скрипт скорее всего бы упал, т.к. с переходом на 3 версию python уж очень сильно изменился.

[2013-01-26 19:45] arsaaa opened #81 "Ошибка (по крайней мере у меня)"
Я немного модифицировал ваш код и ошибся в файле dictionary.py, но когда программа интепретировалась, т.к. в строке 75 в файле есть:
except dictionary.ErrDict as err:
но говорит, что не глоб. переменной по имени dictionary. Так что мне кажется надо добавить
import dictionary
ну или по-другому, не мне вас учить
По крайней мере у меня прокатило

[2013-01-26 23:02] ReanGD commented on #81
Я как понял вы про файл src/edit_word_dialog.py. Да я там действительно забыл импортировать модуль.
Поправил. Спасибо большое.

[2013-01-26 23:02] #81 closed, assigned to ReanGD

[2013-01-27 12:15] ReanGD opened #82 "Ошибка сохранения словаря на python 2.7"
Сохранение словаря в формате json не работает на python 2.7

[2013-01-27 13:11] ReanGD commented on #82
Поправил

[2013-01-27 13:11] #82 closed, assigned to ReanGD

[2013-01-27 14:32] ReanGD commented on #55
Портировал скрипт, упростил как мог загрузку слов. Достаточно скопировать слова в lingualeo.txt и запустить программу с ключем "-lingualeo". [Документация](https://github.com/ReanGD/LearningEnglish/wiki/Импорт)

[2013-01-27 14:32] #55 closed, assigned to nobody

[2013-01-27 14:35] ReanGD commented on #69
Всё что хотелось перенести из того проекта - я перенес. Так что закрываю.

[2013-01-27 14:35] #69 closed, assigned to ReanGD

[2013-01-27 14:36] ReanGD commented on #8
Реализован импорт из Lingualeo в задаче [#55](https://github.com/ReanGD/LearningEnglish/issues/55)

[2013-01-27 14:36] #8 closed, assigned to nobody

[2013-02-01 18:19] ReanGD opened #83 "Привести код в соответствие с pep8"
Перелопатить код и убрать все несоответствие стандарту кодирования на python - pep8.
Единственное допустимое отклонение от стандарта - разрешены строки в 120 символов (вместо 79)
Добавить скрипты для проверки и инструкцию в репозиторий

[2013-02-01 18:38] #83 closed, assigned to ReanGD

[2013-02-01 18:43] #73 closed, assigned to nobody

[2013-02-02 16:47] vozbu opened #84 "Не дает ввести правильное слово на русском"
Проблема в такой конфигурации:
my_dict.json:

[code]

Запускаю с этим словарем, выдает мне слово на английском ("hijacking"), ввожу на русском "угон", нажимаю Enter, ничего не происходит, только ошибки в консоли, причем если Enter еще нажать, ошибка повторяется. И при любом тексте. Т.е. можно только урок завершить и ждать следующего. Ошибки такие:

Возможно я не могу указывать в скобках запятые, т

[2013-02-03 10:08] ReanGD commented on #84
Да действительно дело было в запятых, поправил. Спасибо за подробной баг-репорт

[2013-02-03 10:08] #84 closed, assigned to ReanGD

[2013-03-26 05:39] maxirk opened #85 "Перевести текущее слово в Yandex Словаре"
Сделать кнопочку "Перевести текущее слово в Yandex Словаре".
Когда кликаю по этой кнопке, в браузере открывается страница перевод текущего слова (то которое спрашивают перевод). Хотя еще удобнее было бы что бы ниже программы появлялся фрейм (но это наверно сложновато будет сделать).

Теоретически это можно сделать.
Программа должна "брать" текущее слово и подставлять ее в урл http://slovari.yandex

[2013-03-26 17:18] ReanGD commented on #85
О, вы вернулись, вовремя, а то я что-то забросил проект.
Выглядит разумно, попробую сделать

[2013-03-28 08:04] maxirk opened #86 "Знаю/не знаю вместо написания"
Что-то как-то устал слова печатать. Теперь хочется просто быстро "протыкивать" слова - на "знаю" / "не знаю". А вы не думали поменять / добавить упражнение?

Самому не надоело печатать?

Показывается слово c кнопкой "Показать ответ". Нажимаю, появляется перевод и 2 кнопки "Знаю" (нажатие увеличивает %) "Не знаю" (нажатие уменьшает %).

Сейчас пробую Anki (какая-то сильно навороченная программа), н

[2013-03-28 17:30] ReanGD commented on #86
Нет, пока не надоело, одна из основных целей - научиться письменной речи. И я не планирую делать ничего подобного, по крайней мере в обозримом будущем.

[2013-04-02 04:26] maxirk opened #87 "[Идея] Импорт/показ слов с картинками из lingualeo"
Понятно, что сложно сделать что бы программа сама грузила-присваивала картинки как Lingualeo https://github.com/ReanGD/LearningEnglish/issues/57

Но появилась идея сделать проще.

Из lingualeo легко спарсить таблицу слов с привязкой картинок ссылками. Я сделал это вручную, но далее могу сделать скрипт.

Пример:

["feal", "fˈɪəːl", "страх, боязнь, бояться, страшиться", "http://d144fqpiyasmrr.cloudf

[2013-04-02 04:31] maxirk commented on #86
А теоретически можно это сделать? Т.е. если кто-нибудь другой попробует (например я изучу питон :))

[2013-04-05 16:06] ReanGD commented on #85
Сделал. Рядом с кнопкой редактирования слова появилась кнопка поиска слова в интернете. В конфиге добавил настройку internet_dictionary_url где можно задать шаблон для поиска слова, по умолчанию настроено на yandex словари.

[2013-04-05 16:06] #85 closed, assigned to ReanGD

[2013-04-05 16:16] ReanGD commented on #86
Да конечно, в принципе это не так сложно. Азы python можно освоить за выходные, если раньше программировали, а дальше делать форк проекта и можно экспериментировать. Полностью заменить текущие упражнения с вводом ответов на "знаю/не знаю" даже с учетом того, что придется разбираться в проекте - дело нескольких дней, не больше.

[2013-04-05 16:50] ReanGD commented on #87
Теоретически конечно же можно, правда придется в дополнение к программе ставить библиотеку для отображения картинок в произвольном формате и добавить кеширование и т.п., но это не так страшно...

Хорошо, давайте сделаем так:
- во первых поменяем формат на такой:
  ["feal", "fˈɪəːl", "страх", { "image": ["http://....", "http://....", ...], "sound": ["http://..."], ... } ]
  что бы в будущем была во

[2013-04-09 00:50] maxirk commented on #87
Хочу показать вот этот парсер - в 1 клик можно получить таблицу слов с картинками http://convextra.com/
Смотрите скринкаст как это делается http://www.screenr.com/N5Q7

Не нужно извращатся с парсерами и т.д. Это даже быстрее чем "версия для печати > копапаст в текстовый документ". Так что рекомендую что бы скрипт добавлял слова в программу из этого файла.

Я не программист, поэтому прошу maks-a пр

[2013-04-09 01:49] maxirk commented on #86
Вот только я никогда не программировал :)

[2013-04-09 15:57] ReanGD commented on #86
У меня, к сожалению, тоже нет ни времени, ни желания делать ненужную мне функциональность и отлаживать ее в трех разных операционках, писать тесты, придумывать как это должно согласовываться с предыдущими режимами уроков и т.п.

[2013-04-09 16:20] ReanGD commented on #87
Как-то меня совсем не вдохновил парсер, если зарегистрироваться и зайти в профиль там указано:

Проанализированные страницы: 4 / 200
Извлеченные данные: 300 / 10000

т.е. довольно быстро лимит исчерпается, а потом похоже будут просить деньги, не говоря уже о том, что скрипт закрыт, а компания может быстро исчезнуть.

[2013-04-10 00:40] maxirk commented on #87
200 страниц и 10000 слов этого должно хватить на полгода и больше. Можно потом перерегиться легко.
Так же можно и другим вариантом парсера воспользоваться - правда это будет сложнее.

Но все равно, такую таблицу можно получить - а значит нужно сделать что бы картинки по url-отображались и импортировались.

Кстати я сделал что бы они в Anki отображались - вот небольшой мануал https://docs.google.co

[2013-09-03 04:09] pukkutukkutabu opened #88 "Какая лицензия у данного проекта?"
Хотел бы узнать лицензию данного проекта.

[2013-09-03 18:08] ReanGD commented on #88
Добавил лицензию "Apache License Version 2.0"
Вы планируете что-то добавить в программу?

[2013-09-04 19:32] pukkutukkutabu commented on #88
Ну вообще я уже добавил из серии "для себя".
В свое время начинал писать программу типа вашей и импортер из лингуалео. Потом увидел вашу программу и с тех пор ей и пользуюсь. Лично для своего удобства добавил показ картинок и проигрывание одноименной озвучки, импортированных скриптами с лингуалео.
Спросил про лицензию так как возможно думал над форком проекта, либо коммитить сюда с позволения авто

[2013-09-04 19:32] #88 closed, assigned to nobody

[2013-09-17 08:42] sergeScherbakov opened #89 "Ошибка при запуске"
версия 0.4 работает хорошо, а последняя вылетает при запуске:

E:\artists\vendors\python\win32>Traceback (most recent call last):
  File "e:\Dropbox\English\EnglishWords\main.py", line 43, in <module>
    run_main()
  File "e:\Dropbox\English\EnglishWords\main.py", line 33, in run_main
    src.app.App()
  File "e:\Dropbox\English\EnglishWords\src\app.py", line 20, in **init**
    self.new_lesson()

[2013-09-17 08:47] ReanGD commented on #89
Да, это в последних релизах python 2.x api работы с файлами немного поменяли. Лень было смотреть, но раз уж кто-то кроме меня наткнулся, придется править )

[2013-09-22 18:46] ReanGD commented on #89
Поправил в ветке master, если все в порядке, можно закрывать

[2013-09-23 05:40] sergeScherbakov commented on #89
да, всё заработало, спасибо большое!

[2013-09-23 05:40] #89 closed, assigned to nobody

[2014-05-23 08:19] nIhutiv opened #90 "При ручном изменении слов в словаре, программа отказывается запускаться"
Суть проблемы в том, что, не пойму конечно по какой причине, при внесении изменений в ручную в dict и его сохранении перестает открываться main. При том помню, что ранее, еще на заре программы, не было такой проблемы. Есть мысли о неправильном форматировании текста, об ошибочном сохранении с другой кодировкой. Но все эти вещи перепробовал, изменял и ничего.
Боюсь, конечно, что проект завис, но мен

[2014-05-23 08:25] ReanGD commented on #90
Спасибо за отзыв.
Пришлите мне на почту(reangd (собака) yandex.ru) пример словаря, который приводит к зависанию, я постараюсь на выходных выяснить в чем дело.

[2014-05-23 17:43] ReanGD commented on #90
У вас в словах "Trip operations" и "Equivalent circulating density, ECD" в переводе используется перенос строки, уберите его и все заработает. Если помогло, закройте пожалуйста эту задачу.

[2014-05-26 07:32] nIhutiv commented on #90
Спасибо! Все действительно было в форматировании! Исправил

[2014-05-26 07:32] #90 closed, assigned to nobody

[2014-12-05 11:25] alexeydidenko commented on #89
Спасибо Вам за отличнейшую программу-для меня альтернативы просто нет: ничего лишнего-лишь необходимый функционал. Но все же есть вопрос (прошу прощения, если уже поднимался). Программа гораздо чаще предлагает учить направление перевода слов En-Ru, а хотелось бы равномерное распределение по обоим направлениям. Это нормальный порядок вещей?

[2014-12-05 14:57] ReanGD commented on #89
Спасибо за отзыв. Мне кажется это у вас субъективное, т.к. выбирается тип перевода абсолютно случайно: https://github.com/ReanGD/LearningEnglish/blob/master/src/lesson.py#L53 может конечно в библиотеке python ошибка, но маловероятно.

[2015-05-26 09:38] #75 closed

[2015-11-12 18:10] MetalheadSanya opened #91 "Поддержка японского языка"
В общем, немного не по теме, но почему бы и нет.
Столкнулся со следующей проблемой, в тестовом поле, на OS X 10.11, не могу вводить символы хираганой. При копировании из другого места и вставке программа определяет все правильно.

Я конечно попробовал сам найти проблему, но никаких намеков не нашел. google тоже молчит. Может хотя бы подскажите чем gui рисуете?

[2015-11-12 18:41] ReanGD commented on #91
Подсказать, я конечно подскажу - [TkInter](https://wiki.python.org/moin/TkInter), проблема скорее всего в том, что текущие шрифты [вот тут и ниже](https://github.com/ReanGD/LearningEnglish/blob/master/src/GUI.py#L37) не поддерживают японский и их нужно будет заменить на другие, [вот тут подробнее](http://forums.devshed.com/python-programming-11/tkinter-japanese-kotaeri-input-method-954173.html). С

[2015-11-12 20:36] MetalheadSanya commented on #91
Проблема не в шрифте, т.к. в Label он выводится и выводится корректно.
Как я почитал вашу ссылку, на OS X TkInter поддерживал японский, но поддержку поломали (предпоследнее сообщение). В общем печально, думаю issue можно закрывать.

[2015-11-12 20:52] ReanGD commented on #91
Тогда, ничем помочь не смогу. Закрываю

[2015-11-12 20:52] #91 closed

[2015-11-12 20:53] #86 closed

[2015-11-12 20:54] #68 closed

[2015-11-12 20:54] #67 closed